# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# Environment variables / secrets
.env

# Database
instance/*.db

# User uploads
static/uploads/*
!static/uploads/.gitkeep

# VS Code
.vscode/
